.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.swp
*.swo
*.tmp
.git
.gitignore
.vscode
.env
.env.local
.env.production
.env.development

# Явно оставляем исходники и конфиги в контексте
!src/**
!public/**
!app/**
!package.json
!package-lock.json
!tsconfig.json
!next.config.ts
!postcss.config.mjs
!eslint.config.mjs
!docker-compose.yml
!Dockerfile

